<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movimientos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
      .filtro{
        display: none;
      }
    </style>
</head>
<% function fechaActual() {
  const fechaActual = new Date();
  const año = fechaActual.getFullYear();
  const mes = fechaActual.getMonth() + 1; // Los meses en JavaScript van de 0 a 11, por lo que hay que sumar 1
  const dia = fechaActual.getDate();

  const fechaFormateada = `${año}-${mes.toString().padStart(2, '0')}-${dia.toString().padStart(2, '0')}`;

  return fechaFormateada;
}
%>
<% fechaAct = fechaActual() %>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Principal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Opciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">En Construccion</a>
              </li>
            </ul>
            <form action="/movimientos" method="GET" class="d-flex" id="buscador" role="search">
              <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" id="buscar" name="buscar">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
       </div>
     </nav>
     <div class="container">
      <a href="/create_mov" class="btn btn-outline-primary mt-4"><i class='bx bxs-plus-circle bx-md'></i> <div class="mt-1" ><%= fechaAct %></div></a>
      <div class="table-responsive">
      <table class="table table_responsive table-bordered table_striped text-center mt-4">
          <thead>
              <tr class="bg-primary text-white">
                  <th>ID</th>
                  <th>CLIENTE</th>
                  <th>TIPO DE MOVIMIENTO</th>
                  <th>CHOFER</th>
                  <th>FECHA</th>
                  <th>HORA</th>
                  <th>DESCRIPCIÓN</th>
                  <th>ACCIONES</th>
              </tr>
          </thead>
          <tbody>
            <% results.rows.forEach((movimiento)=> { %>
              <tr class="resultado">
                  <td><%= movimiento.movimiento_id %></td>
                  <td><%= movimiento.cliente_id %></td>
                  <td><%= movimiento.tipo_movimiento_id %></td>
                  <td><%= movimiento.chofer_id %></td>
                  <td><%= movimiento.fecha_movimiento.toISOString().slice(0,10) %></td>
                  <td><%= movimiento.hora_movimiento %></td>
                  <td><%= movimiento.descripcion %></td>
                  <td>
                    <% if(fechaAct == movimiento.fecha_movimiento.toISOString().slice(0,10) ){ %>
                      <a href="/add/<%= movimiento.movimiento_id %>" class="btn btn-outline-warning">Agregar</a>
                    <% } %>

                    <a href="/detalles/<%= movimiento.movimiento_id %>" class="btn btn-outline-success">Ver</a>
                      <a href="/edit_mov/<%= movimiento.movimiento_id %>" class="btn btn-outline-info">Editar</a>
                      <button type="button" hidden class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Borrar
                      </button>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              ¿Seguro que desea borrar la selección?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <a type="button" class="btn btn-danger" href="/delete_mov/<%= movimiento.movimiento_id %>">Borrar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </td>
              </tr>
            <% }) %>
        </tbody>
    </table>
    </div>
</div>
<script>
  console.log("conectado")
  document.addEventListener("keyup",e=>{
    if(e.target.matches("#buscar")){
      document.querySelectorAll(".resultado").forEach(resultado=>{

        resultado.textContent.toLowerCase().includes(e.target.value.toLowerCase())
          ? resultado.classList.remove("filtro") 
          : resultado.classList.add("filtro")
      })
    }
  })
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>

