<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modifica Chofer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Principal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Opciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">En Construccion</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
       </div>
     </nav>
    <% if(chofer){ %>
     <div class="container mt-4">
        <div class="card border-secondary">
          <div class="card-header bg-primary text-light">Modificar registro</div>
            <div class="card-body">
                <form action="/update_cho" method="post">
                  <input id="chofer_id" name="chofer_id" value="<%= chofer.chofer_id %>" hidden>
                  <div class="mb-3">
                  <label for="dni" class="form-label">DNI:</label>
                  <input type="text" name="dni" id="dni" value="<%= chofer.dni %>" class="form-control" tabindex="1">
                  <label for="nombre" class="form-label">NOMBRE:</label>
                  <input type="text" name="nombre" id="nombre" value="<%= chofer.nombre %>" class="form-control" tabindex="1">
                  <label for="licencia" class="form-label">LICENCIA:</label>
                  <input type="text" name="licencia" id="licencia" value="<%= chofer.licencia %>" class="form-control" tabindex="1">
                  <label for="telefono" class="form-label">TELÉFONO:</label>
                  <input type="text" name="telefono" id="telefono" value="<%= chofer.telefono %>" class="form-control" tabindex="1">
                  <input type="text" hidden name="estatus" id="estatus" value="<%= chofer.estatus %>" class="form-control" tabindex="1">
                </div>
        
                <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                <a href="/choferes" class="btn btn-secondary">Cancelar</a>
              </form>
            </div>
        </div>        
    </div>
    <% } %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>


